#validatorForm
{
    max-width:1200px;
    margin:auto;
}

.title
{
    text-align:center;
}

label
{
    width:100%;
}

.action-panel
{
    padding-left: 30px;
}

.invalid
{
    border-color:red;
}












