#validatorForm
{
    max-width:1200px;
    margin:auto;
}

.title
{
    text-align:center;
}

label
{
    width:100%;
}

.action-panel
{
    padding-left: 20px;
}

.invalid
{
    border-color:red;
}

.errorMsg
{
    color:#c30808;
    font-size:12px;
    visibility: hidden;
}

.input-wrapper
{
    padding: 0px 5px;
}











